<!DOCTYPE html>
%html
%head
  = yield :head_start

  %meta{:charset=>"utf-8"}
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, user-scalable=no"}

  %title Drink Here
  = favicon_link_tag 'favicon.ico' 

  = csrf_meta_tags


  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
   
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans", media: "all"
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto+Slab", media: "all"
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Archivo+Narrow", media: "all"
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Jura", media: "all"
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Nixie+One", media: "all"
  = growlyflash_static_notices

  = yield :head_end
    



%body.frost

  %nav.navbar.navbar-default.upper
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-toggle"=>"collapse", "data-target"=>"#dh-menu"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %ul.list-unstyled
          %li{:style=>"padding: 2px;"}
            %a{:href=>"/"}
              %img{:src=>asset_url("drinkhere.png"), :height=>"30px;"}
              %span{:style=>"color: #666; font-family: 'Roboto Slab', sans-serif"}
                Drink Everything
      .collapse.navbar-collapse#dh-menu
        %ul.nav.navbar-nav.navbar-right
          -if current_user

            %li 
              =link_to "Lists", achievements_path

            -if current_user.is_approver
              %li
                =link_to "Pending ", "/queue"

            -if current_user.is_approver
              %li
                =link_to "History ", "/history"

            -if current_user.is_admin
              %li
                =link_to "Admin ", "/admin"                
            %li
              -if current_user.first_name.nil?
                =link_to "Sign Out", destroy_user_session_path, :method => :delete
              -else
                =link_to "Hi, " + current_user.try(:first_name), destroy_user_session_path, :method => :delete
              -@user_achievements.each do |a|
                %img{:src=>a.icon.url(:thumb), :height=>"20px;", :title=>a.name}
          -else
            %li
              %a{:href=>"/users/sign_in"}
                Log In
            %li
              %a{:href=>"/users/sign_up"}
                Join

  .center{:style=>"margin: auto; width: 100%;"}
      
    = yield



    = render "footer"

